@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f6f2;
  color: #20242b;
}

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background: white;
  }
}
